body {
    height: 6000px;
    background: silver;
    font-family: Helvetica, Arial;
}

ul {
    list-style-type: none;
}

#top-menu {
    position: fixed;
    z-index: 1;
    background: white;
    left: 0;
    right: 0;
    top: 0;
}

#top-menu li {
    float: left;
}
.fb-like {
    float: right;
}

#top-menu a {
    display: block;
    padding: 5px 25px 7px 25px;
    width: 4em;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    border-top: 3px solid white;
    color: #aaa;
    text-decoration: none;
}

#top-menu a:hover {
    color: #111;
}

#top-menu li.active a {
    border-top: 3px solid #333;
    color: #333;
}

#about {
    position: absolute;
    top: 110%;
}

#events {
    position: absolute;
    top: 210%;
}

#members {
    position: absolute;
    top: 310%;
}

#decal {
    position: absolute;
    top: 410%;
}

#funding {
    position: absolute;
    top: 510%;
}
